<div class="text-center" *ngIf="!isLoaded">Loading...</div>
<div *ngIf="isLoaded">
  <div class="title-block">
    <h3 class="title">
      <a [routerLink]="['/system/history']"><i class="fa fa-arrow-left"></i></a>
      Страница записи № {{ currentEvent.id }}
      <span class="sparkline bar"></span>
    </h3>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="card" [ngClass]="currentEvent.type === 'income' ? ' card-success' : ' card-danger'">
          <div class="card-header">
            <div class="header-block">
              <p class="title">{{ currentEvent.type === 'income' ? 'Доход' : 'Расход' }}</p>
            </div>
          </div>
          <div class="card-block">
            <ul>
              <li>Сумма: <strong>{{ currentEvent.amount | number:'1.2' }}</strong></li>
              <li>Категория: <strong>{{ currentCategory.name }}</strong></li>
              <li>Описание: {{ currentEvent.description }}</li>
            </ul>
          </div>
          <div class="card-footer">{{ currentEvent.date }}</div>
        </div>
      </div>
    </div>
  </section>
</div>
