<section class="section">
  <div class="row">
    <div class="col-xs-12 text-center">
      <chart [type]="'doughnut'"
             [data]="someData"
             [options]="options"></chart>
    </div>
  </div>
</section>