<div id='loader-container'>
  <div class='loader-circle'></div>
  <div class='loader-circle'></div>
  <div class='loader-circle'></div>
  <div class='loader-circle'></div>
  <div class='loader-circle'></div>
</div>