<div class="main-wrapper">
    <div class="app">
        <app-header></app-header>
        <app-sidebar></app-sidebar>
        <article class="content dashboard-page">
            <router-outlet></router-outlet>
        </article>
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close">
                            <span>×</span>
                        </button>
                        <h4 class="modal-title">Фильтр</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label" for="period">Выберите период</label>
                            <select class="form-control" id="period">
                                <option>тип</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Выберите тип события</label>
                            <div>
                                <label>
                                    <input
                                            class="checkbox"
                                            type="checkbox"
                                    >
                                    <span>еуче</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Выберите категории</label>
                            <div>
                                <label>
                                    <input
                                            class="checkbox"
                                            type="checkbox"
                                    >
                                    <span>еуче</span>
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary">Отмена</button>
                            <button type="button" class="btn btn-primary">Применить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>